<div class="main">
  <div class="inner">
    <div class="user__wrapper">
      <h2 class="page-heading">
        <%= @user.nickname %>さんの投稿一覧
      </h2>
      <div class="user__card">
        <%= render partial: "albums/album", collection: @albums %>
      </div>
    </div>
  </div>
</div>