<div class="main">
  <div class="inner">
    <div class="form__wrapper">
      <h2 class="page-heading">写真編集</h2>
      <%# 部分テンプレートでフォームを表示する %>
      <%= render partial: "form", locals: {url: album_path(@album.id), method: :patch} %>
    </div>
  </div>
</div>